html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: inherit;
}
.form-wrapper {
  text-align: center;
  width: 20rem;
  background-color: lightblue;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
#form {
  display: flex;
  flex-direction: column;
}
#form > input {
  margin-bottom: 1rem;
}
#submit-button {
  margin: 1rem;
  padding: 0.5rem;
}
